<div class="map-figure">
  <img src="Report data/Images/Rotterdam/bloemhof_LST.png"
       alt="Map of Rotterdam showing mean LST index distribution over neighbourhood." />
  <div class="map-caption">
   <strong> Figure 5.</strong> Rotterdam LST index street-wise Distribution
  </div>
</div>

<div class="map-figure">
  <img src="Report data/Images/Rotterdam/bloemhof_ndvi.png"
       alt="Map of Rotterdam showing mean NDVI index distribution over neighbourhood." />
  <div class="map-caption">
    <strong>Figure 6.</strong> Rotterdam NDVI index street-wise Distribution
  </div>
</div>

